<div class="single-movie-container">
    
    <a href="@MovieUrl">
    <img src="@movie.Poster" class="movie-poster" />
    </a>
    <a href="@MovieUrl">
        <p>@movie.TitleBrief</p>
    </a>
    <a class="btn btn-info">Edit Movie</a>
    <button type="button" class="btn btn-danger" @onclick="@(() => DeleteMovie.InvokeAsync(movie))">Delete Movie</button>
</div>

@code {
    [Parameter] public Movie movie { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
    private string MovieUrl;

    protected override void OnInitialized()
    {
        MovieUrl = $"/movie/{movie.Id}/{movie.RouteUrl}";
    }
    void Delete()
    {
        Console.WriteLine($"Deleted {this.movie.Title}");
    }
}
